@model Core.Entities.AbsenceConditions

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Create Absence Conditions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AbsenceCondition" class="control-label"></label>
                <input asp-for="AbsenceCondition" class="form-control" />
                <span asp-validation-for="AbsenceCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeductionAmount" class="control-label"></label>
                <input asp-for="DeductionAmount" class="form-control"/>
                <span asp-validation-for="DeductionAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncentiveAmount" class="control-label"></label>
                <input asp-for="IncentiveAmount" class="form-control"/>
                <span asp-validation-for="IncentiveAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
