@model IEnumerable<Core.Entities.Employee>

@{
    ViewData["Title"] = "GetDepartmentById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employees In Department</h1>

<div>
    @foreach (var item in Model)
    {
    <dl class="row">
        <dd class="col-sm-2">
            @Html.DisplayFor(model => item.Name)
        </dd>
        <dd class="col-sm-2">
            <a asp-controller="Employees" asp-action="EditEmployee" asp-route-id="@item.Id">Edit</a>
        </dd>
    </dl>
    }

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
