@model Payroll.ViewModels.EmployeesAttendance

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Attendance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Attendance.Month" class="control-label"></label>
                <input asp-for="Attendance.Month" class="form-control" min="1" max="12"/>
                <span asp-validation-for="Attendance.Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendance.Year" class="control-label"></label>
                <input asp-for="Attendance.Year" class="form-control" min="2020" max="2040"/>
                <span asp-validation-for="Attendance.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">For Employee</label>
                @Html.DropDownListFor(m => m.Attendance.EmployeeId, new SelectList(Model.Employees, "Id", "Name"), "Select a Value", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Select Which Condition of Absence</label>
                @Html.DropDownListFor(m => m.Attendance.AbsenceConditionsId, new SelectList(Model.AbsenceConditions, "Id", "AbsenceCondition"), "Select a Value", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
