@model IEnumerable<Core.Entities.Employee>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Employees With Salary</h4>
    <hr />
    @foreach (var item in Model)
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Name)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => item.Name)
            </dd>
            <dd class="col-sm-4">
               <a asp-action="EditEmployee" asp-controller="Employees">Edit</a>
            </dd>
        </dl>
    }

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
